<template>
    <div class="overlay overlay-lg" id="header">
        <img src="../assets/img/shapes/square.png" class="shape square" alt=""/>
        <img src="../assets/img/shapes/circle.png" class="shape circle" alt=""/>
        <img
            src="../assets/img/shapes/half-circle.png"
            class="shape half-circle1"
            alt=""
        />
        <img
            src="../assets/img/shapes/half-circle.png"
            class="shape half-circle2"
            alt=""
        />
        <img src="../assets/img/shapes/x.png" class="shape xshape" alt=""/>
        <img src="../assets/img/shapes/wave.png" class="shape wave wave1" alt=""/>
        <img src="../assets/img/shapes/wave.png" class="shape wave wave2" alt=""/>
        <img src="../assets/img/shapes/triangle.png" class="shape triangle" alt=""/>
        <img src="../assets/img/shapes/letters.png" class="letters" alt=""/>
        <img src="../assets/img/shapes/points1.png" class="points points1" alt=""/>
    </div>

    <nav>
        <div class="container">
            <div class="logo">
                <img src="../assets/img/mirik_logo.png" alt=""/>
            </div>

            <div class="links">
                <ul>
                    <li>
                        <a href="#header">Home</a>
                    </li>
                    <li>
                        <a href="#services">Services</a>
                    </li>
                    <li>
                        <a href="#portfolio">Portfolio</a>
                    </li>
                    <li>
                        <a href="#about">About</a>
                    </li>
                </ul>
            </div>

            <div class="hamburger-menu">
                <div class="bar"></div>
            </div>
        </div>
    </nav>
    <div class="header-content">
        <div class="container grid-2">
            <div class="column-1">
                <h1 class="header-title">Mirik Akhmedov</h1>
                <p class="text">
                    Hello, I'm Mirik Akhmedov, web design and developer.
                </p>
                <div class="grid-2">
                    <a href="#about" class="btn column-1">About</a>
                    <div class="social-media column-1">
                        <a href="https://www.linkedin.com/in/mirsaid-akhmedov-1581b01b9/">
                            <i class="fab fa-2x fa-linkedin-in"></i>
                        </a>
                        <a href="mailto:akhmedovmirik@gmail.com">
                            <i class="fab fa-2x fa-google"></i>
                        </a>
                        <a href="https://www.facebook.com/mirsaid.axmedov.9">
                            <i class="fab fa-2x fa-facebook-f"></i>
                        </a>
                        <a href="https://www.instagram.com/akhmedovmirsaid">
                            <i class="fab fa-2x fa-instagram"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="column-2 image">
                <img
                    src="../assets/img/shapes/points2.png"
                    class="points points2"
                    alt=""
                />
                <img src="../assets/img/me.png" class="img-element z-index" alt=""/>
            </div>
        </div>
    </div>

    <div id="services">
        <services_section/>
    </div>
    <div id="portfolio">
        <portfolio_section/>
    </div>

    <div id="about">
        <about_section/>
    </div>

</template>

<script>

import Services_section from "@/components/services_section";
import Portfolio_section from "@/components/portfolio_section";
import About_section from "@/components/about_section";

export default {
    name: 'Home',
    components: {
        About_section,
        Portfolio_section,
        Services_section
    },
}
</script>
