<template>
    <section class="about section" id="about">
        <div class="container">
            <div class="section-header">
                <h3 class="title" data-title="Who Am I">About me</h3>
            </div>

            <div class="section-body grid-2">
                <div class="column-1">
                    <h3 class="title-sm">Hello, I'm</h3>
                    <p class="text">
                        I’m Mirsaid Akhmedov, but you can just call me Mirik.

                        Currently I live in Uzbekistan. I’ve been honing my skills in design, logical tasks and
                        management roles building products for the web.

                        I strive to create elegant solutions that surprise and delight users, while keeping complex
                        technical dependencies in mind for implementation, scalability and developer sanity.

                        I also occasionally give talks on design and product development.

                        Have an interesting project? <a href="" class="link">Let's talk.</a>
                    </p>
                    <div class="skills">
                        <div class="skill html">
                            <h3 class="skill-title">HTML</h3>
                            <div class="skill-bar">
                                <div class="skill-progress" data-progress="90%"></div>
                            </div>
                        </div>
                        <div class="skill css">
                            <h3 class="skill-title">CSS</h3>
                            <div class="skill-bar">
                                <div class="skill-progress" data-progress="70%"></div>
                            </div>
                        </div>
                        <div class="skill js">
                            <h3 class="skill-title">JavaScript</h3>
                            <div class="skill-bar">
                                <div class="skill-progress" data-progress="80%"></div>
                            </div>
                        </div>

                        <div v-if="showSkills">
                            <div class="skill html">
                                <h3 class="skill-title">PHP</h3>
                                <div class="skill-bar">
                                    <div class="skill-progress" data-progress="90%"></div>
                                </div>
                            </div>
                            <div class="skill css">
                                <h3 class="skill-title">Docker</h3>
                                <div class="skill-bar">
                                    <div class="skill-progress" data-progress="70%"></div>
                                </div>
                            </div>
                            <div class="skill js">
                                <h3 class="skill-title">Laravel</h3>
                                <div class="skill-bar">
                                    <div class="skill-progress" data-progress="80%"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button @click="showSkills = !showSkills" class="btn">Read more</button>

                </div>

                <div class="column-2 image">
                    <img src="../assets/img/shapes/points4.png" class="points" alt=""/>
                    <img src="../assets/img/about.png" class="z-index" alt=""/>
                </div>
            </div>
        </div>
    </section>
</template>

<script setup>
import {ref} from 'vue';

let showSkills = ref(false);

</script>